
body{
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.jFkgv0ZN_cGYkXTIBbof_gHaI0&pid=Api&P=0&h=180");
    background-position:right;
    background-attachment:fixed;
    background-repeat: initial;
}

body{
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.yFapABwGkmjiNmaqn0BJawHaE8&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}